<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bower_assets/bootstrap/dist/css/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body class="container-fluid">

        <div class="row justify-content-center">
            <div class="col col-md-6">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="bower_assets/jquery/dist/jquery.js"></script>
            <script src="bower_assets/bootstrap/dist/js/bootstrap.js"></script>
        {% endblock %}
    </body>
</html>
